* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body, html {
  background-color: #f1f1f1;
  overflow-x: hidden;
}

header {
  background-color: white;
  height: 100px;
  width: 100%;
  position: fixed;
  -webkit-box-shadow: 1px 1px 10px #1ec0e9;
          box-shadow: 1px 1px 10px #1ec0e9;
}

nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.ul-0 {
  margin-right: 18em;
  width: 40em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

li {
  margin-right: 3em;
}

.a1:hover {
  border-bottom: 2px solid #f5cf26;
}

.a1 {
  color: #1ec0e9;
  font-family: Arial;
  font-size: 1.2rem;
  text-decoration: none;
}

.btn1 {
  background-color: rgba(30, 192, 233, 0.596);
  color: white;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  width: 7em;
  font-size: 1.3rem;
  cursor: pointer;
}

main {
  -webkit-animation: 2s animacion 1;
          animation: 2s animacion 1;
}

@-webkit-keyframes animacion {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%) skewX(20deg);
            transform: translateX(-200%) skewX(20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-10%) skewX(-20deg);
            transform: translateX(-10%) skewX(-20deg);
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-20deg);
            transform: translateX(0%) skewX(-20deg);
  }
}

@keyframes animacion {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200%) skewX(20deg);
            transform: translateX(-200%) skewX(20deg);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-10%) skewX(-20deg);
            transform: translateX(-10%) skewX(-20deg);
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-20deg);
            transform: translateX(0%) skewX(-20deg);
  }
}

/*Section 1 presentacion*/
.st1 {
  background-color: #f3f3f3;
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.presentacion {
  width: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lineas0 {
  font-size: 2rem;
  font-family: arial;
  padding-bottom: .5em;
  color: #1ec0e9;
}

.lineas1 {
  font-size: 4rem;
  font-family: arial;
  margin-bottom: .3em;
  color: #1ec0e9;
}

.lineas2 {
  font-size: 1.5rem;
  font-family: arial;
  padding-bottom: 1em;
  color: #1ec0e9;
}

.imagen {
  width: 40em;
}

img {
  width: 100%;
}

.btn2 {
  background-color: #e9c85d;
  color: white;
  height: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  width: 8em;
  font-size: 1.3rem;
  cursor: pointer;
}

/*Section 2 Conocimientos*/
.st2 {
  margin-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.h1-2 {
  font-size: 3.5rem;
  font-family: arial;
  text-align: center;
  padding-bottom: .5em;
  color: #f5cf26;
}

.p-2 {
  font-family: arial;
  text-align: center;
  color: #2c2c2c;
}

.wrap {
  margin: auto;
  margin-top: 5em;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box1 {
  margin: 1em;
  width: 250px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1ec0e9;
  border-radius: 10px;
}

.box1:hover {
  -webkit-box-shadow: 1px 1px 10px #1ec0e9;
          box-shadow: 1px 1px 10px #1ec0e9;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation: 1s rebotein 1;
          animation: 1s rebotein 1;
}

@-webkit-keyframes rebotein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@keyframes rebotein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.i {
  font-size: 5rem;
}

.i-1 {
  color: orangered;
}

.i-2 {
  color: #1286ce;
}

.i-3 {
  color: #df31df;
}

.i-4 {
  color: #f0c60b;
}

.i-5 {
  color: #1286ce;
}

.i-6 {
  color: orangered;
}

h3 {
  font-family: arial;
  color: #2c2c2c;
  padding-top: 0.5em;
}

/* secction 3 cita*/
.st3 {
  margin-top: 10em;
  height: 500px;
  background-color: #1ec0e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span {
  width: 150px;
  height: 150px;
}

.ii {
  font-size: 7rem;
  color: white;
}

.cita {
  width: 45em;
  height: 50%;
}

.p-3 {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  color: white;
  font-size: 1.5rem;
  padding-top: 5em;
  text-align: center;
}

/*Section 4 proyectos*/
.st4 {
  background-color: white;
  padding-top: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap-2 {
  margin: auto;
  margin-top: 5em;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.box2 {
  border-radius: 10px;
  margin: 1em;
  width: 300px;
  height: 300px;
  border: 1px solid #1ec0e9;
}

.box2:hover {
  -webkit-box-shadow: 1px 1px 10px #1ec0e9;
          box-shadow: 1px 1px 10px #1ec0e9;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-animation: 1s rebotein 1;
          animation: 1s rebotein 1;
}

@keyframes rebotein {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  70% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
}

.box2-1 {
  margin: 1em;
  width: 300px;
  height: 300px;
}

h5 {
  text-align: center;
  font-size: 1em;
  font-family: arial;
  color: #2e2e2e;
}

.h1-4 {
  font-size: 3.5rem;
  font-family: arial;
  text-align: center;
  padding-bottom: .5em;
  color: #f5cf26;
}

.p-4 {
  text-align: center;
  padding-bottom: 2em;
  font-family: arial;
  color: #2e2e2e;
}

.img-3 {
  border-radius: 10px;
  width: 100%;
  height: 90%;
}

/*section 5 formulario*/
.st5 {
  margin-top: 20em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-general {
  width: 89%;
  height: 550px;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.h6 {
  font-size: 3rem;
  margin-bottom: 1em;
  color: #f5cf26;
  font-family: arial;
}

.p-7 {
  color: #525252;
  font-family: arial;
}

.sub-contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.caja1 {
  width: 400px;
  border-right: 8px solid white;
}

.redes-sociales {
  width: 35em;
}

.ul5 {
  margin-top: 2.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.li-6-1 {
  width: 40%;
  margin-top: 1em;
}

.li-6-2 {
  width: 40%;
  margin-top: 1em;
}

.li-6-3 {
  width: 40%;
  margin-top: 1em;
}

.li-6-4 {
  width: 60%;
  margin-top: 1em;
}

.a6:hover .iii-6::before {
  width: 40px;
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #00c3ff;
  -webkit-box-shadow: 1px 1px 10px 4px #a9a9e9;
          box-shadow: 1px 1px 10px 4px #a9a9e9;
  color: white;
}

.a6 {
  font-size: 1.2rem;
  color: #505050;
  text-decoration: none;
}

.iii-6 {
  color: #006eff;
  margin-right: .5em;
}

.caja2 {
  border-left: 8px solid white;
  width: 400px;
}

.div-input-6-7 {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1em;
}

.input6 {
  width: 20em;
  border-right: 4px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input7 {
  width: 20em;
  border-left: 4px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nombre, .apellido {
  height: 35px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #ececec;
}

.email:hover {
  -webkit-box-shadow: 1px 1px 10px #1ec0e9;
          box-shadow: 1px 1px 10px #1ec0e9;
}

.nombre:hover {
  -webkit-box-shadow: 1px 1px 10px #1ec0e9;
          box-shadow: 1px 1px 10px #1ec0e9;
}

.apellido:hover {
  -webkit-box-shadow: 1px 1px 10px #1ec0e9;
          box-shadow: 1px 1px 10px #1ec0e9;
}

.mensaje:hover {
  -webkit-box-shadow: 1px 1px 10px #1ec0e9;
          box-shadow: 1px 1px 10px #1ec0e9;
}

.div-input-8-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email {
  margin-bottom: 1em;
  height: 35px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #ececec;
}

.mensaje {
  margin-bottom: 1em;
  height: 150px;
  border-radius: 20px;
  outline: none;
  border: none;
  background-color: #ececec;
}

.boton8 {
  border: none;
  outline: none;
  border-radius: 20px;
  height: 40px;
  width: 10em;
  color: white;
  cursor: pointer;
  background-color: #006eff;
}

label {
  color: #333333;
  font-family: arial;
}

/*Footer*/
footer {
  width: 100%;
  height: 45vh;
  margin-top: 10em;
  background-color: rgba(0, 225, 255, 0.795);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-4 {
  height: 50vh;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-ul-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.a5 {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: white;
}

.li-3 {
  margin-right: 2em;
}

.a5:hover {
  border-bottom: 2px solid #0051ff;
}

.cont-ul-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ul-2 {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.li-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1em;
  margin-left: 1em;
}

.a4:hover .iii-2::before {
  width: 40px;
  height: 40px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #1685ec;
  -webkit-box-shadow: 1px 1px 10px 4px #bebec5;
          box-shadow: 1px 1px 10px 4px #bebec5;
  color: white;
}

.iii-2 {
  font-size: 1.5rem;
  color: #002fff;
}

.parrafo-6 {
  margin: 0 auto 0 auto;
  width: 100px;
}

.p-6 {
  font-size: .6rem;
  text-align: center;
  color: white;
}

@media (max-width: 3900px) {
  nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul-0 {
    margin-left: 50em;
    width: 40em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 3627px) {
  nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul-0 {
    margin-left: 50em;
    width: 40em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 2845px) {
  nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul-0 {
    margin-left: 50em;
    width: 40em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 35%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 2417px) {
  nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul-0 {
    margin-left: 50em;
    width: 40em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1991px) {
  nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ul-0 {
    margin-left: 50em;
    width: 40em;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1691px) {
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1422px) {
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1171px) {
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1099px) {
  header {
    visibility: hidden;
  }
  .st1 {
    background-color: #f3f3f3;
    margin-top: 5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .presentacion {
    width: 30em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .lineas0, .lineas1, .lineas2 {
    text-align: center;
  }
  .btn2 {
    background-color: #e9c85d;
    color: white;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    width: 8em;
    margin-left: 6em;
    font-size: 1.3rem;
  }
  .wrap {
    margin: auto;
    margin-top: 5em;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrap-2 {
    margin: auto;
    margin-top: 5em;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 900px) {
  .contenedor-general {
    width: 100%;
    height: 900px;
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
  }
  .ul5 {
    margin-top: 2.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
  }
}

@media (max-width: 801px) {
  .li-6-1, .li-6-2 {
    margin: 1em 15em auto;
  }
  .li-6-3 {
    margin-top: -4em;
  }
}

@media (max-width: 700px) {
  .cont-ul-3 {
    visibility: hidden;
  }
}

@media (max-width: 600px) {
  .box1 {
    margin: 1em;
    width: 350px;
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #1ec0e9;
    border-radius: 10px;
  }
  .box2 {
    border-radius: 10px;
    margin: 1em;
    width: 350px;
    height: 350px;
    border: 1px solid #1ec0e9;
  }
  .cita {
    width: 30em;
    height: 50%;
  }
  .ul5 {
    width: 35em;
  }
}

@media (max-width: 500px) {
  .cita {
    width: 25em;
    height: 50%;
  }
  .contenedor-general {
    height: 1200px;
  }
  .caja1, .caja2 {
    margin-bottom: 5em;
    margin-left: 2em;
  }
  .ul5 {
    width: 100%;
  }
  .li-6-1, .li-6-2 {
    margin-left: 1em;
  }
  .li-6-3 {
    margin: 1em  1em auto;
  }
  .li-6-4 {
    margin: 1em  1em auto;
  }
  .p-7 {
    font-size: 1.1rem;
  }
  .div-input-6-7 {
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1em;
  }
  .input6, .input7 {
    margin-top: 1em;
    width: 100%;
  }
}

@media (max-width: 460px) {
  .presentacion {
    width: 20em;
  }
  .imagen {
    width: 30em;
  }
  .btn2 {
    background-color: #e9c85d;
    color: white;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    width: 8em;
    margin-left: 4em;
    font-size: 1.3rem;
  }
  .caja2 {
    width: 20em;
    margin-left: -1em;
  }
  .caja1 {
    width: 20em;
    margin-left: -1em;
  }
  .div-input-6-7 {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1em;
  }
  .input6, .input7 {
    margin-top: 1em;
    width: 100%;
  }
  .st3 {
    height: 600px;
  }
  .cita {
    width: 15em;
  }
  span {
    margin-left: 2.5em;
  }
}

@media (max-width: 335px) {
  .presentacion {
    width: 15em;
  }
  .imagen {
    width: 18em;
  }
  .btn2 {
    background-color: #e9c85d;
    color: white;
    height: 50px;
    border-radius: 50px;
    outline: none;
    border: none;
    width: 8em;
    margin-left: 2em;
    font-size: 1.3rem;
  }
  .caja1, .caja2 {
    width: 15em;
    margin-left: -3em;
  }
  .div-input-6-7 {
    width: 230px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1em;
  }
  .st3 {
    height: 900px;
  }
  .h1-2 {
    font-size: 2.5rem;
  }
  .h1-4 {
    font-size: 2.5rem;
  }
  span {
    margin-left: 2.5em;
  }
}

@media (max-width: 300px) {
  .li-6-1, .li-6-2 {
    margin-left: 3em;
  }
  .li-6-3 {
    margin: 1em  3em auto;
  }
  .li-6-4 {
    margin: 1em  3em auto;
  }
  .parrafo6 {
    width: 15em;
  }
  .p-7 {
    text-align: center;
  }
  .h6 {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */